<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="public/assets/css/css/ionicons.css" type="text/css"> 
{{!-- 	<link rel="shortcut icon" href=""> --}}
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Rammetto+One|Stalinist+One" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://use.fontawesome.com/0f296b3a6c.js"></script>
	<script src="https://code.jquery.com/jquery.js"></script> 	
</head>
<body>
	<div class="jumbotron jumbotron-fluid">
	  <div class="container">
	  	<ul class="list-inline">
		  <li class="list-inline-item"><a class="nav-link active" href="/#">Home</a></li>
		  <li class="list-inline-item"><a class="nav-link active" href="/renter">Renter</a></li>
		  <li class="list-inline-item"><a class="nav-link active" href="/owner">Owner</a></li>
		</ul>
	    <h1 class="display-4">Vacation Recreation</h1>
	  </div>
	</div>
<br><br><br><br><br>
	{{{ body }}}
	<div class="wrapper transparent">
    	<div class="push"></div>
	</div>
	<footer class="transparent">
		<div class="text-center">
			<p class="footer">© 2018 NoCK Enterprises</p>
		</div>
	</footer>
</body>
</html>
